@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(225, 255, 255);
}

main {
    margin: auto;
    padding: 10px;
    background-color: white;
    width: 500px;
    box-shadow: 3px 3px 10px #00000040;
}

img.lado {
    float: right;
}
